@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('/fonts/ITC-Avant-Garde-Gothic-Std.woff2') format('woff2'),
         url('/fonts/ITC-Avant-Garde-Gothic-Std.woff') format('woff'),
         url('/fonts/ITC-Avant-Garde-Gothic-Std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }